

.navegacion{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    
}

.navegacion .logo{
    width: 19vh;
    position: relative;
    right: 20px; 
}

.navegacion .Link {
    text-decoration: none;
}

#nvg{
    text-decoration: none;
}